# Generated temp files
*.pyc
*.aux
*.log
*.out
*.synctex.gz
*.suo
*__pycache__
*.idea
*.ipynb_checkpoints
*.pickle
*.npy
*.blg
*.bbl
*.bcf
*.toc
*.wav

# Possible model directories
encoder/saved_models/*
synthesizer/saved_models/*
vocoder/saved_models/*

# Models
*.pth
*.pt

# Generated after pip install .
*.egg-info
/build

# I don't know where this folder came from
/src
